librosa==0.11.0
neucodec>=0.0.4
numpy==2.2.6
phonemizer==3.3.0
soundfile==0.13.1
torch==2.8.0
transformers==4.56.1
resemble-perth==1.0.1
onnxruntime==1.23.1
make87[zenoh,protobuf]>=0.1.0
make87_messages>=0.2.8
llama-cpp-python==0.3.5
pyaudio==0.2.14
